Source: libconfig-file-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: gregor herrmann <gregoa@debian.org>,
           Damyan Ivanov <dmn@debian.org>,
           Axel Beckert <abe@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libmodule-build-perl,
               perl
Build-Depends-Indep: libtest-pod-coverage-perl <!nocheck>,
                     libtest-pod-perl <!nocheck>
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libconfig-file-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libconfig-file-perl.git
Homepage: https://metacpan.org/release/Config-File
Rules-Requires-Root: no

Package: libconfig-file-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends}
Description: simple configuration file parsing module
 Config::File parses simple configuration files and store its values in
 an anonymous hash reference. The syntax of the configuration file is
 quite simple:
 .
  # This is a comment
  VALUE_ONE = foo
  VALUE_TWO = $VALUE_ONE/bar
  VALUE_THREE = The value contains a \# (hash). # This is a comment.
  COMPOSED_VALUE[one] = The first component of a clustered value
  COMPOSED_VALUE[two] = The second component of a clustered value
